.logo_img{
    width: 72px;
    height: 78.31px;
    object-fit: cover;
    margin: auto;
    display: block;
}
.title{
    font-size: 36px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top: 26.69px;

}
.container{
    width: 462px;
    height: 288px;
    margin: 39px auto;
    padding: 65px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.15);
}
label{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;

}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95.5%;
    padding: 10px;
    border: 1px solid rgba(241, 241, 241, 1);
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: rgba(241, 241, 241, 1);


}
input:focus{
    outline: 2px solid #F5B50B;
}
.Sign_in_btn:focus{
    outline: none;
}
::placeholder{
    font-size: 14px;
    color: rgba(208, 208, 208, 1);
}
.elucidation{
    text-align: center;
    margin-top:50px;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}
.font_color{
    text-decoration: none;
    color: rgba(245, 156, 25, 1);
}
.tag_box{
    width: 384px;
    height: 36px;
    margin: auto;
    border-radius: 10px;
    border:2px solid #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  
  li {
    padding-bottom: 3px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
  }
a{
    text-decoration: none;
    color:rgba(245, 156, 25, 1);
}
@media only screen and (min-width: 400px){
    
}






























.Sign_in_btn{
    margin-top: 0px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(223.17deg, #F5B50B 0%, #F57431 100%);
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
}
