.logo_img{
    width: 72px;
    height: 78.31px;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-top: 79px;
}
.title{
    font-size: 36px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top: 26.69px;
}
.container{

    width: 462px;
    height: 342px;
    margin: 39px auto;
    padding: 65px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.15);
}
label{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95.5%;
    padding: 10px;
    border: 1px solid rgba(241, 241, 241, 1);
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: rgba(241, 241, 241, 1);


}
::placeholder{
    font-size: 14px;
    color: rgba(208, 208, 208, 1);
}
.Sign_up_btn{
    margin-top: 0px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(223.17deg, #F5B50B 0%, #F57431 100%);
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    color: #fff;
    outline: none;
}
.Sign_up_btn:focus{
    outline: none;
}
input:focus{
    outline: 2px solid #F5B50B;

}

