body{
    margin: 0;
}
ul{
    width: 100%;
    background: linear-gradient(223.17deg, #F5B50B 0%, #F57431 100%);
    height: 50px;
    margin: 0;
    padding: 0;
}
.header_left{
    float: left;
    padding-left: 311px;
    width: 30%;
    height: 50px;
}
.header_right{
    float: right;
    padding-right: 115px;
} 
  nav li {
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
  }

.big_logo_font{
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-decoration: none;
    line-height: 32.69px;

}
.mini_font{
    font-weight: 600;
    font-size: 14px;
    line-height: 19.07px;
    text-decoration: none;
    color: white;
}
.logo_img{
    width: 22.98px;
    height: 25px;
    margin-top: 12px;

}
.menu_btn{
    width: 67px;
    height: 24px;
    border-radius: 15px;
    border: 1.5px solid white;
    color: white;
    background-color:transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin-top: 13px;
}
.sign_btn{
    border-radius: 9px;
    border: 1px solid rgba(235, 235, 235, 1);
    width: 137px;
    height: 24px;

}
.show{
    display: block;
}
.header_left li{
    margin: 0 10px;
}
.header_right li{
    margin: 0 18px;
}
.main_btn{
    width: 915px;
    height: 140px;
    border: 2px solid rgba(235, 235, 235, 1);
    position: relative;
    display: block;
    margin: auto ;
    margin-top: 2%;
    border-radius: 10px;

}
.All_Questions_font{
    font-size: 32px;
    font-weight: 600;
    line-height: 43.58px;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(245, 156, 25, 1);
    margin: 0;
    margin-top: 25px;
    margin-left: 30px;
}
.Ask_Question_btn{
    width: 91px;
    height: 26px;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 16.34px;
    margin: 0;
    padding: 0;
    float: right;
    margin-bottom: 25px;
    margin-right: 30px;
    margin-top: 20px;
    color: white;
    background-color: #F59C19;
    border: none;
    border-radius: 5px;
}
.title_text_box{
    width: 915px;
    height: 162px;
    border-radius: 10px;
    background-color: #ffff;
    border: 2px solid rgba(235, 235, 235, 1);
    margin: auto;
    margin-top: 69px;

}

.next_btn{
    width: 54px;
    height: 32px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: 300;
    line-height: 16.34px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F59C19;
    border: none;
    color: #ffff;
    margin: 0;
    padding: 0;
    margin-left: 26px;
}
.Title{
    font-size:18px ;
    font-weight: 500;
    line-height: 24.52px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    margin-top: 20px;
    margin-left: 26px;

}
.input_text{
    width: 92%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 1);
    margin: 0;
    border: none;
    display: block;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 11px;
    margin-left: 26px;

}
.Help_text{
 font-size: 12px;
 line-height: 16.34px;
 font-weight: 500;
 font-family: 'Noto Sans KR', sans-serif;
color: black;
margin: 0;
margin-top: 1px;
margin-left: 26px;

}
input:focus {outline:none;}
.Details_detail_box{
    width: 915px;
    height: 325px;
    border: 2px solid rgba(235, 235, 235, 1);
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.Details_detail_title{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24.52px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    margin-left: 25px;
    margin-top: 15px;

}
.Details_detail_Help{
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 16.34px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    margin-left: 26px;
    margin-top: 4px;

}
.Details_detail_text{
    width: 845px;
    height: 187px;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, 1);
    border: none;
    margin: 0;
    margin-left: 25px;
    margin-top: 12px;
    padding: 10px;
    resize: none;
}
.Details_detail_btn{
    width: 138px;
    height: 32px;
    border-radius: 9px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    color: #ffff;
    background-color: #F59C19;
    border: none;
    margin: 0;
    margin-top: 3px;
    margin-left: 25px;

}
textarea:focus {outline:none;}
